body{
    background-color: aqua;
    color: #1900ffd7;
    text-align: justify;
    font-size: 20px;
    padding:0 24px;
}

.texto-um{
    color: #1900fff8;
    font-size: 24px;
}
.texto-dois{
    color: #1900fff8;
    font-size: 24px;

}

.paragrafo{
    font-size: 18px;
}

.rodape{
    text-align: justify;
    display:grid;
    font-size: 18px;
    color: rgb(8, 64, 114);

}

.imagem{
    width: 30%;
    width: 30;
}

